body {
    font-family: Arial, sans-serif;
    margin: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}



h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #45a049;
}

.post {
    margin-bottom: 20px;
}

.username {
    font-weight: bold;
}

.late {
    color: red;
    font-weight: bold;
}

hr {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
