<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Simple Blog</h1>
    <div style="display: flex; justify-content: space-between;">
        {% if current_user.is_authenticated %}
            <p style="text-align: left;">Welcome, {{ current_user.username }}!</p>
            <a class="logout-btn" href="{{ url_for('auth.logout') }}" style="text-align: right;">Logout</a>
        {% endif %}
    </div>

    <!-- Form to add a new post -->
    <form method="post" action="{{ url_for('add_post') }}">
        <textarea name="content" rows="4" cols="50" placeholder="Write something..." required></textarea>
        <br>
        <button type="submit">Post</button>
    </form>

    <hr>

    {% for post in posts %}
        <div class="post">
            <h2>{{ post[1] }}</h2>
            <p><span class="username">{{ post[4] }}</span> - {{ post[3] }}</p>
            <p>{{ post[2] }}</p>
            <a href="{{ url_for('post', post_id=post[0]) }}">Read more</a>
            <hr>
        </div>
    {% endfor %}
</body>
</html>
